<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .h2-text {
            color:red
        }
    </style>
</head>
<body>
<div>
    <h1 id="00012931">H1 text</h1>
    <h2 class="h2-text">H2 text</h2>
    <h6 class="h2-text">H6 text</h6>
    <p>dolore ad nisi sed ad <span style="color: green">pariatur</span> id cillum et esse ipsum dolore et consectetur
        mollit in est officia mollit anim amet dolor cupidatat culpa culpa
    </p>
    <a href="https://playwright.dev/python/" target="_blank">Python</a>
    <img alt="browser.png" src="https://playwright.dev/python/img/logos/Browsers.png" style="width: 250px">
    <ul>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ul>
    <ol>
        <li>Numeric 1</li>
        <li>Numeric 2</li>
        <li>Numeric 3</li>
    </ol>
    <form action="/action" method="POST">
        <input type="text" value="12345" placeholder="Text">
        <input required type="email" value="email@mail.ru" placeholder="Text">
        <input type="password" placeholder="Password">
        <textarea required placeholder="Large text">67890</textarea>
        <button type="submit" disabled>Text</button>
    </form>
    <table>
        <thead>
        <tr>
            <td>Head 1</td>
            <td>Head 2</td>
            <td>Head 3</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Row 1</td>
            <td>Row 2</td>
            <td>Row 3</td>
        </tr>
        <tr>
            <td>Row 1</td>
            <td>Row 2</td>
            <td>Row 3</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>